<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Eclipsis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="Eclipsis.Properties.Settings.eclipsis_db_ConnectionString"
        connectionString="server=localhost;User Id=root;password=admin;database=eclipsis_db"
        providerName="MySql.Data.MySqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <Eclipsis.Properties.Settings>
            <setting name="tcp_server" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="tcp_port" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="tcp_localhost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="listener_timeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="passw" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="sqlserver" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>eclipsis_db</value>
            </setting>
            <setting name="userid" serializeAs="String">
                <value>eclipsis_server</value>
            </setting>
            <setting name="connectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="presharedkey" serializeAs="String">
                <value>EclipsisSystemsEncryptionKey009900192</value>
            </setting>
        </Eclipsis.Properties.Settings>
    </userSettings>
</configuration>
